.switch-container {
  position: fixed;
  top: 15px;
  right: 15px;
}

.hidden {
  display: none;
}

.switch,
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.dot,
.equal,
.clear,
.multiply,
.add,
.subtract,
.divide,
.zero {
  cursor: pointer;
}

.dark-mode {
  background-color: #212121;
  color: #cfcfcf;
}
.night {
  fill: #cfcfcf;
}
.calc-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.dark-mode .calc-body {
  border-color: #fff !important;
}

.dark-mode .title-text {
  color: #fff;
}

.calc-body {
  border: 1px solid black;
  width: 25rem;
  height: 30rem;
  border-radius: 4px;
}

.title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.calc-display {
  height: 23%;
  border-radius: 2px;
  border-bottom: 1px solid black;
}
.dark-mode .calc-display {
  border-color: #fff !important;
}

.calc-inputs {
  display: flex;
  height: 77%;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  font-size: 2.5rem;
}

.rows {
  display: flex;
  flex-direction: column;
}

.rows span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
